<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About the Trilogy</a></li>
            <li><a href="/movies">The 3 Movies</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>
        <div class="header">
        <br>
        <div class="movie-title">
            <h1>BACK TO THE FUTURE</h1>
            <p>Marty McFly and Doc Emmett Brown through time</p>
        </div>
        <div class="movie-dialogue">
            <p>"Wait a minute. Wait a minute, Doc. Ah... Are you telling me that you built a time machine... out of a
                DeLorean?"</p>
            <br>
            <p> "Dr. Emmett Brown: The way I see it, if you're gonna build a time machine into a car, why not do it with
                some style?"
            </p>
        </div>
        <div class="row">
            <div class="column">
                <p class="titles">Back to the Future I</p>
                <img src="/images/marty-btf1.webp">
                <img src="/images/btf1-1.jpg">
                <img src="/images/btf1-marty-doc-loraine.jpeg">
                <img src="/images/btf1-marty-doc.webp">
                <img src="/images/btf1-marty-guitar.jpeg">
                <img src="/images/btf1-marty-explodes-sound.jpeg">
            </div>

            <div class="column">
                <p class="titles">Back to the Future II</p>
                <img src="/images/marty-btf2.webp">
                <img src="/images/btf2-marty-hover.jpeg">
                <img src="/images/btf2-delorean.webp">
                <img src="/images/btf2-heavy.jpg">
                <img src="/images/btf2-nike-mags.avif">
                <img src="/images/btf2-skate-gang.webp">
                <img src="/images/btf2-skate-kids.jpg">
            </div>

            <div class="column">
                <p class="titles">Back to the Future III</p>
                <img src="/images/marty-btf3.jpg">
                <img src="/images/btf3-delorean.jpeg">
                <img src="/images/btf3-doc-clara-marty.png">
                <img src="/images/btf3-marty-gun.jpeg">
                <img src="/images/btf3-old-town-clock.webp">
                <img src="/images/btf3-marty-doc-encounter.jpeg">
                <img src="/images/btf3-doc-marty.webp">
                <img src="/images/btf3-train.webp">
            </div>
</body>

</html>