<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Back to the Future</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About the Trilogy</a></li>
      <li><a href="/movies">The 3 Movies</a></li>
      <li><a href="/gallery">Gallery</a></li>
    </ul>
  </nav>
  <div class="header">
    <br>
    <div class="movie-title">
        <h1>BACK TO THE FUTURE</h1>
        <p>"Roads? Where We're Going, We Don't Need Roads."</p>
    </div>
</div> 
  <header>
    <br>
  </header>
  <div>
    <img src="/images/btf-the-best.jpeg" alt="btf trilogy" class="image-the-best" />
  </div>
  <br>
  <h2>Welcome to the page dedicated to the best trilogy of all times!</h2>
  <br>
  <div>
  <img src="/images/back-to-the-future-reunion-2-te-230220-58b71e.webp" alt="the actors reunite"
    class="image-reunion" />
  </div>

</body>

</html>